
@{
    Layout = null;
}

@*Exemplo do layou
https://adminlte.io/themes/AdminLTE/index2.html*@
<div ng-controller="SobreCtrl">
   <section class="content">
       <div class="row">
           <p>{{TextoExemplo}}</p>
       </div>
   </section>
</div>
