
@{
    Layout = null;
}
<script src="~/ViewsScripts/Aplicacao/Auth/AuthCtrl.js"></script>
<div ng-controller="AuthCtrl">
    <section class="content">
        <div class="row">
            <p>{{TextoExemplo}}</p>
        </div>
    </section>
</div>
